<div class="gallery-lightbox-container">
  <div class="sec-title-four">
    <h2>Our Projects</h2>
  </div>

  <!--Filter-->
  <ul class="nav nav-tabs justify-content-center mb-3">
    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{ active: selectedCategory == 'all' }"
        (click)="filter()"
        >
        All Projects
      </a>
    </li>
    <li
      class="nav-item"
      [ngClass]="{ active: category.categoryName == selectedCategory }"
      *ngFor="let category of categories"
    >
      <a class="nav-link" (click)="filter(category.categoryName)">
        {{ category.categoryName }}
      </a>
    </li>
  </ul>

  <!-- Isotope grid element -->
  <div class="container-fluid">
    <div class="grid" #grid>
      <div
        #images
        class="grid-item p-1 m-2 rounded shadow"
        *ngFor="
          let item of galleryData
            | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;
          let i = index
        "
      >
        <!-- This is important, as we will use this category name to filter the image. -->
        <span class="d-none">{{ item.categoryName }}</span>
        <img
          class="grid-image"
          (click)="onPreviewImage(i)"
          src="https://api.diazconstructions.com.co/public/storage/images/{{
            item.pathImage
          }}"
          alt="{{ item.shortDescription }}"
        />
      </div>
    </div>
    <div
      class="text-center py-5"
      [@enterAnimation]
      *ngIf="gridShuffle?.sortedItems.length == 0"
    >
      <h3>More comming soon!</h3>
    </div>
  </div>

  <div *ngIf="showMask" class="lightbox">
    <!-- <span *ngIf="showCount" class="count">{{currentIndex + 1}}/{{totalImageCount}}</span> -->
    <button *ngIf="previewImage" class="close-btn" (click)="onClosePreview()">
      <i class="far fa-times"></i>
    </button>
    <button *ngIf="controls" class="btn-lightbox-carousel btn-prev">
      <i
        class="fas fa-arrow-circle-left icon-lightbox-carousel icon-prev"
        (click)="prev()"
      ></i>
    </button>
    <div
      *ngIf="previewImage"
      class="lightbox-img"
      [@animation]="{ value: 'visible' }"
      (@animation.done)="onAnimationEnd($event)"
    >
      <img
        [src]="
          'https://api.diazconstructions.com.co/public/storage/images/' +
          currentLightboxImage.pathImage
        "
        [alt]="currentLightboxImage.shortDescription"
      />
    </div>
    <button
      *ngIf="controls"
      class="btn-lightbox-carousel btn-next"
      (click)="next()"
    >
      <i class="fas fa-arrow-circle-right icon-lightbox-carousel icon-next"></i>
    </button>
  </div>
  <div>
    <ngb-pagination
      class="d-flex justify-content-center"
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="galleryData.length"
      (pageChange)="pageChange()"
    ></ngb-pagination>
  </div>
</div>
